services:
  nginx:
    image: jonasal/nginx-certbot:latest
    restart: unless-stopped
    env_file:
      - ./nginx-certbot.env
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - nginx_secrets:/etc/letsencrypt
      - ./user_conf.d:/etc/nginx/user_conf.d
      - uploads:/var/uploads:ro
    depends_on:
      - backend
      - frontend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - MONGODB_URI=${MONGODB_URI}
      - JWT_SECRET=${JWT_SECRET}
      - ADMIN_SETUP_PASS=${ADMIN_SETUP_PASS}
      - CORS_ORIGIN=${CORS_ORIGIN:-https://your-domain.com} # add your domain here
    volumes:
      - uploads:/app/public/uploads
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "8080:80"
    volumes:
      - uploads:/var/uploads:ro
    depends_on:
      - backend
    restart: unless-stopped

volumes:
  nginx_secrets:
  uploads:
